html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}
body {
	background-color: #00c5c8;
	font-family: 'Roboto', sans-serif;
}

main {
	display: flex;
}

aside {
	background-color: #06191d;
	width: 18.75rem;
	height: 100vh;
}

.container {
	margin: 4.5rem 1.4rem;
	padding: 1.4rem;
}

.btn-container {
	position: fixed;
}

.container a {
	text-decoration: none;
	font-size: 1.75rem;
	font-weight: 600;
	display: block;
	margin: 1.5rem 0;
	color: #fffdfa;
}

.menu-btn {
	cursor: pointer;
	margin: 1.25rem;
}
